<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Twitter Clone Final</title>
    <link rel="stylesheet" href="twitter_clone.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Twitter Clone</h1>
    <h2>You have successfuly logged out</h2>
  </body>
</html>