<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Twitter Clone Final</title>
    <link rel="stylesheet" href="twitter_clone.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Twitter Clone</h1>
    <h1>Sorry but the page you are looking for does not exist</h1>
  </body>
</html>
